@model EventManagementSystem.Models.Event

<h2>@Model.EventTitle</h2>

<p>
    <strong>@Html.DisplayNameFor(model => model.EventDescription):</strong>
    @Model.EventDescription
</p>
<p>
    <strong>@Html.DisplayNameFor(model => model.EventStartDate):</strong>
    @Model.EventStartDate.ToShortDateString()
</p>

@if (Model.EventEndDate.HasValue)
{
    <p>
        <strong>@Html.DisplayNameFor(model => model.EventEndDate):</strong>
        @Model.EventEndDate.Value.ToShortDateString()
    </p>
}

<p>
    <strong>@Html.DisplayNameFor(model => model.EventLocation):</strong>
    @Model.EventLocation
</p>

<p>
    <strong>Available spots:</strong>

    @if (Model.EventRegistration < Model.EventMaxAttendees)
    {
        <span>@(Model.EventMaxAttendees - Model.EventRegistration)</span>
    }
    else
    {
        <span class="text-danger">Full</span>
    }
</p> 